{% extends 'ecommerce/base.html' %}

{% block content %}

<div class="product-container">

    {% for product in products %}
    <div class="product-card">

        <div class="product-img">
            <img src="{{ product.image.url }}" alt="">
        </div>

        <div class="product-info">
            <h3>{{ product.name }}</h3>
            <p class="price">₹{{ product.price }}</p>

            <button onclick="addToCart({{ product.id }})" class="add-btn">
                Add to Cart
            </button>
        </div>

    </div>
    {% endfor %}

</div>

<script>
    function addToCart(productId) {
        fetch(`/shop/add/${productId}/`)
            .then(() => {
                alert("Added to cart 🛒");
            });
    }
</script>

{% endblock %}